div.gallery {
    margin: 2%;
    width: 20%;
    height: 30%;
    padding: 0%;

}

div.gallery:hover img{
    filter: opacity(.7);
}
.tamañoletra{
  font-size: 35px;
  margin-top: 10%;
}
.blanco{
  color: white;
}
.glyphicon {
    font-size: 20px;
}

div.desc {
    text-align: center;

    padding: 5%;
    padding-right: 10%;
    padding-left: 10%;
}
.hh4{
  margin-bottom: 5%;
  
}
.posicionn{
  padding-bottom: 10%;
  font-size: 25px;
}
.precio{
  padding-top: 2%;
  font-size: 20px;
}
p.coloritem{
  color: #3f7812 !important;
}

/*estrellas*/
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {

  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.naranja:hover{
  color: orange;
}
.naranja:hover,
.naranja:hover ~ .naranja {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.p1{
  font-style: italic;
  text-decoration: underline;
  color: grey;
}
.p1:hover{
  color: #5bc0de;
}
a:visited{
  text-decoration: none !important;
}
.diferencia{
  padding-bottom: 10%;
}
.lateral{
  margin-top: -5%;
  padding-top: 10%;
  max-width: 275px;
  min-height: 100%;
  max-height: 100%;
  margin-bottom: 0%;
  padding-bottom: 23%; 
}
.lateral2{
  margin-top: -5%;
  padding-top: 10%;
  max-width: 275px;
  min-height: 100%;
  max-height: 100%;
  margin-bottom: 0%;
  padding-bottom: 45%; 
  margin-right: 5%;
}
.titulo{
  font-size: 30px;
}
.sinfiltro{
  padding-left: 15%;
  text-decoration: underline;
  color: grey;
}
.sinfiltro:hover{
  color: #5bc0de;
}
